<h1>Register</h1>

<form action="/register" method="POST">
    {% csrf_token %}
    <label>User Name</label><br>
    <input type="text" name="username"><br>

    <label>Email</label><br>
    <input type="text" name="email"><br>

    <label>Password</label><br>
    <input type="password" name="password"><br>

    <input type="submit" value="Submit">
</form>

<h1>Update User</h1>

<form action="/update" method="POST">
    {% csrf_token %}
    <label>Email</label><br>
    <input type="text" name="email"><br>

    <label>Update Username</label><br>
    <input type="text" name="username"><br>

    <input type="submit" value="Submit">
</form>
