<h1>Register</h1>

<form action="/register" method="POST">
    <label>Username</label><br>
    <input type="text" name="username"><br>

    <label>Email</label><br>
    <input type="text" name="email"><br>

    <label>Password</label><br>
    <input type="password" name="password"><br>

    <input type="Submit" value="Submit">
</form>


<h1>Login</h1>

<form action="/login" method="POST">
    <label>Email</label><br>
    <input type="text" name="email"><br>

    <label>Password</label><br>
    <input type="password" name="password"><br>

    <input type="Submit" value="Submit">
</form>